<h1>Listing spaceman_spiffs</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% @spaceman_spiffs.each do |spaceman_spiff| %>
  <tr>
    <td><%=h spaceman_spiff.name %></td>
    <td><%= link_to 'Show', spaceman_spiff %></td>
    <td><%= link_to 'Edit', edit_spaceman_spiff_path(spaceman_spiff) %></td>
    <td><%= link_to 'Destroy', spaceman_spiff, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New spaceman_spiff', new_spaceman_spiff_path %>

